# IDEA

.idea
*.iml

# Mac
.DS_Store

# Environment variables

.env

# GCP

.deploy
.secrets
.build
app-with-env.yaml
ci-app.yaml

# Gatsby / Node

node_modules
.cache
public
site/public-no-content
site/_build
site/static/assets
site/public.zip
coverage

# Cypress

mochawesome-report
site/cypress_env_variables.sh
site/cypress/screenshots
site/cypress/videos
site/mochawesome.json

# Analytics
out
