# IDEA

.idea/codeStyles
.idea/dbnavigator.xml
.idea/workspace.xml

# Environment variables

.env

# GCP

.deploy
app-with-env.yaml
ci-app.yaml

# Gatsby / Node

node_modules
.cache
public
site/_build
site/static/assets
coverage

# Cypress

mochawesome-report
site/cypress/screenshots
site/cypress/videos
