body {
	margin: 0px;
	background-color:rgb(250, 250, 250);
}

.article-content img, .article-content video {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	padding: 10px 0px;
}

.clickable {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.webchat-link {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.webchat-link img {
	height: 60px;
}

table {
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
}

table, td, th {
	border: 1px solid black;
}

td, th {
	padding: 0.3em;
}

tr:nth-child(even) {
	background-color: #ddd;
}