body {
  margin: 0px;
  background-color:rgb(250, 250, 250);
  font-display: optional;
}

.article-content img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

a {
  text-decoration: none;
}
