body {
  margin: 0px;
  background-color:rgb(250, 250, 250);
}

.article-content img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

a {
  text-decoration: none;
}

.webchat-link {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.webchat-link img {
	height: 60px;
}