# See https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore
.cache
__mocks__
__tests__
_build
.dockerignore
.gcloudignore
.git
.gitignore
.DS_Store
/node_modules
/cypress
/scripts
/src
/static
README.md
Dockerfile
cleanReportsScreenshotsVideos.sh
jest-preprocess.js
jest.config.js
gatsby*.js
loadershim.js
localbuild.sh
prettier.config.js
setup-test-env.js
